body {margin:0; padding:0; overflow:hidden;background:black;}
.loading {position:fixed;color:black;font-family:"VeraMono";top:0;left:0;z-index:999999999;margin:8px;font-weight:bold;color:white}
.loading {font-weight:normal}